@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

nav, footer {
    background-color: #004d61;
}

#login-footer{
    background-color: white;
}

.card-body {
    background-color: rgb(241, 246, 248);
    border-style: none;
}

body {
    background-color: lightblue;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    font-family: "Ubuntu", sans-serif;
}

.btn btn-primary{
    align-items: center;
    justify-items: center;
}
