body{
margin: 0px;
padding: 0px;
}
button{
    background-color: #004d61;
    margin: 10px;
}
.nav{
display: flex;
padding: 5px 10px;
box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2);}

img{
    border-radius: 50%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px; /* Adjust the value as needed */
}
