.textAlign1 {
    margin-top: 25%;
    padding-bottom: 4%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textAlign2 {
    padding-bottom: 5%;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textAlign3 {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.form-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.imageholder{
    display: flex;
    justify-content: center;
    align-items: center;
}