nav, footer {
    background-color: rgba(156, 115, 115, 0.747);
}

#login-footer{
    background-color: white;
}
.textAlign1 {
    text-align: center;
    margin-top: 30%;
    padding-bottom: 4%;
}
.textAlign2 {
    text-align: center;
    padding-bottom: 5%;
}
.radioBox {
    background-color: rgb(7,7,8,0.5);
    text-align: center;
    color: white;
}
.navbar-toggler {
    border-color:black;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 2%;
    border-top: solid 5px grey;
    border-bottom: solid 5px grey;
}